<div class="container">
    <div class="main-body">
    
        <div class="row mb-3">
            <div class="col">
                <button [routerLink]="['/admin/patients/informations']" class="btn btn-primary rounded-0"><i class="fa-solid fa-arrow-left"></i>&nbsp;Retour</button>
            </div>
            <div class="col"></div>
            <div class="col-md-3"><h3><i class="fa-regular fa-address-card"></i>&nbsp;Profil patient</h3></div>
        </div>

        <div class="row gutters-sm">
            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <i class="fa-solid fa-user"></i>
            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card mb-3">
                            <div class="card-body h-t">
                           
                                <div class="row mb-3">
                                    <div class="col">
                                        <p class="mb-0"><strong>Nom:</strong></p>
                                    </div>
                                    <div class="col text-secondary">
                                        {{patient?.nom || ""}}
                                    </div>
                                    <div class="col">
                                        <p class="mb-0"><strong>Prénom:</strong></p>
                                    </div>
                                    <div class="col text-secondary">
                                        {{patient?.prenom || ""}}
                                    </div>
                                   
                                </div>
                               
                                
                                <div class="row mb-3">
                                    <div class="col">
                                        <p class="mb-0"><strong>Age:</strong></p>
                                    </div>
                                    <div class="col text-secondary">
                                        {{patient?.age || 0}}
                                    </div>

                                    <div class="col">
                                        <p class="mb-0"><strong>Téléphone:</strong></p>
                                    </div>
                                    <div class="col text-secondary">
                                        {{patient?.telephone || ""}}
                                    </div>
                                
                                </div>

                               
                                <div class="row mb-3">
                                    <div class="col">
                                        <p class="mb-0"><strong>Statut matrimonial:</strong></p>
                                    </div>
                                    <div class="col text-secondary">
                                        {{patient?.statut || ""}}
                                    </div>
                                    <div class="col">
                                        <p class="mb-0"><strong>Profession:</strong></p>
                                    </div>
                                    <div class="col text-secondary">
                                        {{patient?.profession || ""}}
                                    </div>
                   
                                </div>
                               
                                <div class="row mb-3">
                
                                    <div class="col-md-3">
                                        <p class="mb-0"><strong>Niveau socio-économique:</strong></p>
                                    </div>
                                    <div class="col text-secondary">
                                        {{patient?.niveau_socioeconomique || ""}}
                                    </div>
                                </div>
                               
            
                            </div>
                          </div>
                    </div>
                </div>

            </div>
  

        </div>

        <div class="row">
          <div class="col">                            
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-consultation-tab" data-bs-toggle="tab" data-bs-target="#nav-consultation" type="button" role="tab" aria-controls="nav-consultation" aria-selected="true"><i class="fa-solid fa-file-signature"></i>&nbsp;Consultation</button>
                  <button class="nav-link" id="nav-documents-tab" data-bs-toggle="tab" data-bs-target="#nav-documents" type="button" role="tab" aria-controls="nav-documents" aria-selected="false"><i class="fa-solid fa-folder-open"></i>&nbsp;Documents</button>
                  <button class="nav-link" id="nav-meetings-tab" data-bs-toggle="tab" data-bs-target="#nav-meetings" type="button" role="tab" aria-controls="nav-meetings" aria-selected="false"><i class="fa-regular fa-handshake"></i>&nbsp;Rendez-vous</button>
                  <button class="nav-link" id="nav-ordonnances-tab" data-bs-toggle="tab" data-bs-target="#nav-ordonnances" type="button" role="tab" aria-controls="nav-ordonnances" aria-selected="false"><i class="fa-solid fa-prescription-bottle-medical"></i>&nbsp;Ordonnances</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-consultation" role="tabpanel" aria-labelledby="nav-consultation-tab" tabindex="0">
                    <app-consultations></app-consultations>
                  </div>

                  <div class="tab-pane fade" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab" tabindex="0">
                    <app-documents></app-documents>
                  </div>

                  <div class="tab-pane fade" id="nav-meetings" role="tabpanel" aria-labelledby="nav-meetings-tab" tabindex="0">
                    <app-meetings></app-meetings>
                  </div>

                  <div class="tab-pane fade" id="nav-ordonnances" role="tabpanel" aria-labelledby="nav-ordonnances-tab" tabindex="0">
                    <app-ordonnances></app-ordonnances>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
