<div class="container">
    <div class="main-body">
    
        <div class="row mb-3">
            <div class="col">
                <button [routerLink]="['/admin/patients/informations']" class="btn btn-primary rounded-0"><i class="fa-solid fa-arrow-left"></i>&nbsp;Retour</button>
            </div>
            <div class="col"></div>
            <div class="col-md-3"><img src="assets/images/cardiaque.gif" width="150" height="70"></div>
        </div>

        <div class="row gutters-sm">
            <div class="col-md-2 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <i class="fa-solid fa-user"></i>
            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card mb-3">
                            <div class="card-body h-t">

                                <table>
                            
                                    <tr>
                                        <td>
                                            <p class="mb-0">Nom:</p>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;<i class="fa-solid fa-fire-flame-curved"></i>&nbsp;<span class="text-secondary">{{patient?.nom || ""}}</span>
                                        </td>
                                        <td class="spacer"></td>
                                        <td>
                                            <p class="mb-0">Prénom:</p>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;<i class="fa-solid fa-fire-flame-curved"></i>&nbsp;<span class="text-secondary">{{patient?.prenom || ""}}</span>
                                        </td>
                                    
                                    </tr>
                                
                                    
                                    <tr>
                                        <td>
                                            <p class="mb-0">Age:</p>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;<i class="fa-solid fa-baby-carriage"></i>&nbsp;<span class="text-secondary">{{patient?.age || 0}} an(s)</span>
                                        </td>
                                        <td class="spacer"></td>
                                        <td>
                                            <p class="mb-0">Téléphone:</p>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;<i class="fa-solid fa-phone"></i>&nbsp;<span class="text-secondary">{{patient?.telephone || ""}}</span>
                                        </td>
                                    
                                    </tr>

                                
                                    <tr>
                                        <td>
                                            <p class="mb-0">Statut matrimonial:</p>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;<i class="fa-solid fa-person"></i>&nbsp;<span class="text-secondary">{{patient?.statut || ""}}</span>
                                        </td>
                                        <td class="spacer"></td>
                                        <td>
                                            <p class="mb-0">Profession:</p>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;<i class="fa-solid fa-briefcase"></i>&nbsp;<span class="text-secondary">{{patient?.profession || ""}}</span>
                                        </td>
                    
                                    </tr>
                                
                                    <tr>
                    
                                        <td>
                                            <p class="mb-0">Niveau socio-économique:</p>
                                        </td>
                                        <td>
                                            &nbsp;&nbsp;<i class="fa-solid fa-scale-balanced"></i>&nbsp;<span class="text-secondary">{{patient?.niveau_socioeconomique || ""}}</span>
                                        </td>
                                    </tr>
                                
                                </table>
                            </div>
                          </div>
                    </div>
                </div>

            </div>
  

        </div>

        <div class="row">
          <div class="col">                            
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link rounded-0 active" id="nav-consultation-tab" data-bs-toggle="tab" data-bs-target="#nav-consultation" type="button" role="tab" aria-controls="nav-consultation" aria-selected="true"><i class="fa-solid fa-file-signature"></i>&nbsp;Consultation</button>
                  <button class="nav-link rounded-0" id="nav-documents-tab" data-bs-toggle="tab" data-bs-target="#nav-documents" type="button" role="tab" aria-controls="nav-documents" aria-selected="false"><i class="fa-solid fa-folder-open"></i>&nbsp;Documents</button>
                  <button class="nav-link rounded-0" id="nav-meetings-tab" data-bs-toggle="tab" data-bs-target="#nav-meetings" type="button" role="tab" aria-controls="nav-meetings" aria-selected="false"><i class="fa-regular fa-handshake"></i>&nbsp;Rendez-vous</button>
                  <button class="nav-link rounded-0" id="nav-ordonnances-tab" data-bs-toggle="tab" data-bs-target="#nav-ordonnances" type="button" role="tab" aria-controls="nav-ordonnances" aria-selected="false"><i class="fa-solid fa-prescription-bottle-medical"></i>&nbsp;Ordonnances</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-consultation" role="tabpanel" aria-labelledby="nav-consultation-tab" tabindex="0">
                    <app-consultations></app-consultations>
                  </div>

                  <div class="tab-pane fade" id="nav-documents" role="tabpanel" aria-labelledby="nav-documents-tab" tabindex="0">
                    <app-documents></app-documents>
                  </div>

                  <div class="tab-pane fade" id="nav-meetings" role="tabpanel" aria-labelledby="nav-meetings-tab" tabindex="0">
                    <app-meetings></app-meetings>
                  </div>

                  <div class="tab-pane fade" id="nav-ordonnances" role="tabpanel" aria-labelledby="nav-ordonnances-tab" tabindex="0">
                    <app-ordonnances></app-ordonnances>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
