<!-- Modal Content -->
<div id="modal19" class="modal">
    <div class="modal-content text-center">
       
        <h6>Suppression</h6>
        <i class="fa-solid fa-triangle-exclamation"></i>
        <div class="row mt-3 text-center">

            <div class="col">
                <button class="btn btn-success" (click)="confirmDeletion('modal19')"><i class="fa-solid fa-check"></i>&nbsp;Supprimer</button>
            </div>
            <div class="col">
                <button class="btn btn-secondary" (click)="closeModal('modal19')"><i class="fa-solid fa-ban"></i>&nbsp;Annuler</button>
            </div> 

        </div>
  
    </div>
</div>
