.upload{
    position: relative; 
    border: 2px dashed #fff;
    background-color: #007BFF;
    border-radius: 10px;
    width: 100%;
    height: 120px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#fileInput{
    display: none;
}

label{
    display: flex; /* Utilisez flex pour aligner l'icône au centre */
    justify-content: center; /* Alignement horizontal au centre */
    align-items: center; /* Alignement vertical au centre */
    width: 100%; /* Pour occuper toute la largeur */
    height: 100%; /* Pour occuper toute la hauteur */
    cursor: pointer; /* Ajoutez un curseur de type pointer */
}

.fa-cloud-arrow-up{
    font-size: 70px;
    color: #fff;
    animation: moveDown 1s ease-in-out infinite alternate;
}

.card-share{
    background-color: rgba(146, 146, 146, 0.5);
    border-radius: 0px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.disabled {
    pointer-events: none; /* Désactiver les événements de souris */
    opacity: 0.5; /* Optionnel : ajoute une opacité pour indiquer que le contenu est désactivé */
}
  
.fa-pen-to-square{
    font-size: 20px;
    margin-left: 0px;
  }

@keyframes moveDown {
    0% {
      transform: translateY(0); /* Déplacement initial, ici l'icône est à sa position d'origine */
    }
    100% {
      transform: translateY(10px); /* Déplacement final, ici l'icône est déplacée vers le bas de 20 pixels */
    }
}  

@keyframes openDialog {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1)
    }
}  

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2{
    margin-bottom: 30px;
    border-bottom: 1px solid #007BFF;
}

h4{
    color: #007BFF;
    border: 1px solid #007BFF;
    background: linear-gradient(to right, #81b9f5, #fff);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.border{
    padding: 10px;
}

button i{
    font-size: 20px;
}


form {
    display: grid;
    gap: 10px;
    width: 50%;
    position: relative;
    margin: 0 auto;
}

input,
select,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #838181;
    outline: none;
    transform-origin: 50% 100%;
}

@keyframes inputAnimation {
    0% {
        border-bottom-width: 1px;
        transform: scaleX(0);
    }
  
    100% {
        border-bottom-width: 100%;
        transform: scaleX(1);
        border-bottom: 1.3px solid #007BFF;
    }
}


.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 100%;
    height: 40px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    border: none;
}

/**********Modal*****************/

/*************Loader*******************/
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007BFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*************Loader*******************/