        
<div class="container">
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-primary rounded-0" (click)="openModal('modal50')"><i class="fa-solid fa-circle-plus"></i> Catégories</button>
        </div>
        <div class="col">
            <div *ngFor="let key of progression | keyvalue">
                <div class="row" *ngIf="key.value != 0">
                    <div class="col-md-6">
                        Téléchargement en cours : {{ key.value }}%
                    </div>
                    <div class="col">
                        <progress max="100" [value]="key.value" class="w-100"></progress>
                    </div>
                </div>
            </div>                      
        </div>
    </div>
    <div class="row mb-5">
        <div class="col card-share">
            <div class="row mb-3">
                <div class="col">
                    <form name="files">
                        <div class="row" *ngIf="fileForm.fileCategory && fileForm.annotatedFile">
                            <div class="col">
                                <div [ngClass]="{'disabled': progress > 0 && progress < 100}" class="upload">
                                    <input type="file" id="fileInput" name="fileInput" (change)="onFileSelected('modal20',$event)">
                                    <label for="fileInput">
                                        <i class="fa-solid fa-cloud-arrow-up"></i>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center" *ngIf="fileForm.fileCategory && fileForm.annotatedFile && uploaded">
                            <div class="col">
                                <h5>{{ progress }}%</h5>
                                <progress max="100" [value]="progress" class="w-100"></progress>
                            </div>
                        </div>
                        <div class="row text-center" *ngIf="message">
                            <div class="col">
                                <h4>{{message}}</h4>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-2"></div>
                <div class="col">      
                    <select class="form-control" name="fileCategory" [(ngModel)]="fileForm.fileCategory">
                        <option value="" disabled selected hidden>Choisissez une catégorie</option>
                        <option *ngFor="let category of categories">{{category.categories}}</option>>
                    </select> 
                </div>
                <div class="col">
                    <select class="form-control" [(ngModel)]="fileForm.annotatedFile">
                        <option value=""></option>
                        <option>Annoté</option>
                        <option>Brut</option>
                    </select>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h6>Les fichiers partagés : <i class="fa-solid fa-list-check"></i></h6>
        </div>
        <div class="col"></div>
        <div class="col-md-3">
            <input type="text" class="form-control rounded-0" placeholder="Recherche.." [(ngModel)]="searchTerm">
        </div>  
    </div>
    <div class="row">
        <div class="col">
                        
            <div *ngIf="isLoading ; else content">
                <!-- Afficher le loader ici -->
                <div class="loader"></div>
            </div>
            <ng-template #content>
                <table class="table table-striped mt-3">
                    <thead>
                        <tr>
                            <th>Date :</th>
                            <th>Fichier :</th>
                            <th>Taille :</th>
                            <th>Catégorie :</th>
                            <th>Etat</th>
                            <th>Modifier</th>
                            <th>Télécharger</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let file of filteredfiles">
                            <td>{{file.createdAt | date: 'dd/MM/yyyy'}}</td>
                            <td><a [href]="readFile(file.fileName)" target="_blank">{{file.fileName.length > 40 ? file.fileName.substr(14,40)+'..': file.fileName.substr(14,39)}}</a></td>
                            <td>{{file.fileSizeFormatted}}</td>
                            <td>{{file.fileCategory}}</td>
                            <td>{{file.annotatedFile}}</td>
                            <td><button (click)="openDialog(file._id)" style="width: 30px; height: 30px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); padding: 3px;" class="btn btn-primary rounded-circle"><i class="fa-regular fa-pen-to-square"></i></button></td>
                            <td><a style="cursor: pointer;" (click)="downloadFile(file._id,file.fileName)">télécharger&nbsp;&nbsp;<i style="color:rgb(121, 21, 21); font-size: 20px;" class="fa-solid fa-circle-down"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>

        </div>
    </div>
</div>

<div class="message-dialog" [class.open]="isDialogOpen">
    <div class="message-content">
    <h5 class="mb-3">Modifier la catégorie</h5>
    <div class="row mb-3">
        <div class="col">
            <select class="form-control rounded-0" name="fileCategory" [(ngModel)]="fileForm.fileCategory">
                <option value="" disabled selected hidden>Choisissez une catégorie</option>
                <option *ngFor="let category of categories">{{category.categories}}</option>>
            </select> 
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <select class="form-control rounded-0" [(ngModel)]="fileForm.annotatedFile">
                <option value=""></option>
                <option>Annoté</option>
                <option>Brut</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary rounded-0" (click)="updateFileCategory()">Modifier</button>
        </div>
        <div class="col">
            <button class="btn btn-secondary rounded-0" (click)="closeMessageDialog()">Fermer</button>
        </div>
    </div>
    </div>
</div>

<!-- <app-progress-bar [progress]="progress"></app-progress-bar> -->
<app-file-categories (emittedEvent)="categoriesUpdated($event)"></app-file-categories>