<!-- Modal Content -->
<div id="modal50" class="modal">
    <div class="modal-content text-center">
       
        <h6>Categories de fichiers</h6>

        <div *ngIf="add">
            <form (ngSubmit)="onSubmit()">
                <div class="row mb-3 mt-3">
                    <div class="col">
                        <input type="text" name="categories" [(ngModel)]="fileCategoriesForm.categories" placeholder="Ajouter une catégorie" class="form-control rounded-0 w-100">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success rounded-circle"><i class="fa-solid fa-plus"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div *ngIf="update">
            <form (ngSubmit)="onUpdate()">
                <div class="row mb-3 mt-3">
                    <div class="col">
                        <input type="text" name="categories" [(ngModel)]="fileCategoriesForm.categories" placeholder="Modifier la catégorie" class="form-control rounded-0 w-100">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success rounded-circle"><i class="fa-solid fa-marker"></i></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="scrollable-tbody">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Catégories</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let category of fileCategoriesList">
                    <td>{{category.categories}}</td>
                    <td>
                        <button (click)="updateEvent(category._id,category.categories)" class="btn btn-primary rounded-circle">
                            <i class="fa-solid fa-marker"></i>
                        </button>
                        &nbsp;
                        <button (click)="delete(category._id)" class="btn btn-danger rounded-circle">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row mt-3 text-center">

            <div class="col">
            
            </div>
            <div class="col-md-3">
                <button class="btn btn-secondary rounded-0" (click)="closeModal('modal50')"><i class="fa-solid fa-ban"></i>&nbsp;Annuler</button>
            </div> 

        </div>
  
    </div>
</div>
