
    
<table class="table mt-3">
    <thead>
        <tr>
            <td>Date :</td>
            <td>Fichier :</td>
            <td>Taille :</td>
            <td>Catégorie :</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>12/01/2024</td>
            <td>ecg.xml</td>
            <td>520 ko</td>
            <td>ECG</td>
            <td><a href="#">télécharger</a></td>
        </tr>
        <tr>
        <tr>
            <td>12/02/2024</td>
            <td>ecg.xml</td>
            <td>423 ko</td>
            <td>Scanner</td>
            <td><a href="#">télécharger</a></td>
        </tr>
    </tbody>
</table>

<app-antecedents></app-antecedents>
<app-cliniques></app-cliniques>
<app-paracliniques></app-paracliniques>
<app-fichepatient></app-fichepatient>
<app-evolution></app-evolution>
<app-uploadfiles></app-uploadfiles>