
    
<table class="table mt-3">
    <thead>
        <tr>
            <td>Date :</td>
            <td>Fichier :</td>
            <td>Taille :</td>
            <td>Catégorie :</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let file of filesList">
            <td>{{file.createdAt | date: 'dd/MM/yyyy'}}</td>
            <td><a [href]="['http://localhost:3000/data/'+file.fileName]" target="_blank">{{file.fileName}}</a></td>
            <td>{{file.fileSizeFormatted}}</td>
            <td>{{file.fileCategory}}</td>
            <td><a style="cursor: pointer;" (click)="downloadFile(file.fileName)">télécharger&nbsp;&nbsp;<i style="color:rgb(121, 21, 21); font-size: 20px;" class="fa-solid fa-circle-down"></i></a></td>
        </tr>
    </tbody>
</table>
