/*************CARDS***************/
.card {
    border-top: 2px solid #007BFF;
    border-radius: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.card-content {
    padding: 16px;
}

.card-content i{
    margin-top: 5px;
    font-size: 20px;
    border-radius: 50%;
    padding: 15px;
    background-color: #007BFF;
    color: #fff;
}


.card-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.card-description {
    color: #666;
}

/*************CARDS***************/

/**********Table*****************/

h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */


.fl-table td, .fl-table th {
    padding: 8px;
}

.fl-table td {
    font-size: 14px;
    cursor: pointer;
}

.fl-table td:hover{
    background-color: rgba( 0, 0, 0, 0.1);
}

.fl-table #table-title{
    background-color: #fff;
    color: #515151;
    font-weight: 450;
    width: 100%;
}

.fl-table th {
    color: #ffffff;
    background: #007BFF;
}


.ml{
    margin-left: 30px;
}

.ml p{
    font-size: 15px;
    font-weight: 500;
}

td i{
    color: orange;
    font-size: 16px;
}


/* Responsive */


    .fl-table {
        display: block;
        width: 100%;
        
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
        background-color: #fff;
    }

    /* Styles pour la barre de défilement horizontale */
    /* Utilisation des propriétés spécifiques à WebKit */
    .fl-table tbody::-webkit-scrollbar {
        height: 3px; /* Hauteur de la barre de défilement */
    }

    /* Styles pour la poignée de la barre de défilement */
    .fl-table tbody::-webkit-scrollbar-thumb {
        background-color: #888; /* Couleur de la poignée */
        border-radius: 4px; /* Bordure arrondie */
    }

    /* Styles pour la piste de la barre de défilement */
    .fl-table tbody::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Couleur de la piste */
        border-radius: 4px; /* Bordure arrondie */
    }

    .color-customized{
        background-color: #79b4f3;
    }

    .color-customized div{
       position: relative;
       top: -10px;
    }

    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 200px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tbody td {
        display: block;
    }

/**********Table*****************/

/*************Loader*******************/
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007BFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*************Loader*******************/