
/**********Modal*****************/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    animation: openDialog 0.4s ease-in-out;
}

@keyframes openDialog {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1)
    }
}  

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2{
    margin-bottom: 30px;
    border-bottom: 1px solid #007BFF;
}

h4{
    color: #007BFF;
    border: 1px solid #007BFF;
    background: linear-gradient(to right, #81b9f5, #fff);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.border{
    padding: 10px;
}

button i{
    font-size: 20px;
}


form {
    display: grid;
    gap: 10px;
}

input,
select,
textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #838181;
    outline: none;
    transition: border-bottom-width 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform-origin: 50% 100%;
}

@keyframes inputAnimation {
    0% {
        border-bottom-width: 1px;
        transform: scaleX(0);
    }
  
    100% {
        border-bottom-width: 100%;
        transform: scaleX(1);
        border-bottom: 1.3px solid #007BFF;
    }
}

/* Applique l'animation uniquement lorsqu'on focus sur l'input */
input:focus,
textarea:focus {
    animation: inputAnimation 0.5s forwards; /* forwards pour conserver l'état final de l'animation */
}


.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 100%;
    height: 40px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
    border: none;
}

/**********Modal*****************/

.rounded-circle{
    width: 30px;
    height: 30px;
}

.rounded-circle i{
    position: relative;
    top: -3px;
    left: -6px;
    font-size: 18px;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 0px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.1 );
}

.fl-table tr:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.fl-table {
    border-radius: 15px;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}



.fl-table thead th {
    color: #ffffff;
    background: #4b9ef7;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #007BFF;
}