.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    width: 30px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .img-fiche {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-left: 40px;
  }

  .border{
    padding: 10px;
    background-color: #faf5f5;
  }

 h3{
    color: #007BFF;
  }

  p{
    border: 1px solid #007BFF;
    border-radius: 5px;
    color: #007BFF;
    width: 50%;
    text-align: center;
    margin-left: 250px;
  }


  h2{
    border: 1px solid #007BFF;
    background: linear-gradient(to right, #81b9f5, #fff);
    color: #007BFF;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
  }

  h6{
    border: 1px solid #007BFF;
    color: #007BFF;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    margin-left: 250px;
  }

  .modal-content{
    padding: 20px 70px;
  
  }

  span{
    font-weight: bold;
  }


  .tiret {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .btn-customized{
    background-color: #007BFF;
    color: #fff;
  }

.spacer {
  padding-right: 25px; /* Ajustez la valeur selon vos besoins */
}

td{
  width: 250px;
}

.complication{
  font-weight: 400;
}

.fonce{
  background-color: #d6d4d4;
}

.alert{
  color: rgb(236, 81, 9);
  font-weight: 400;
}

.normal{
  color: green;
  font-weight: 400;
}

.danger{
  color: red;
  font-weight: 400;
}