<!-- Modal Content -->
<div id="modal5" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col">
                <button class="btn btn-danger" (click)="closeModal('modal5')">&times; Fermer</button>
            </div>
            <div class="col-md-7">

            </div>
            <div class="col">
                <button class="btn btn-customized"><i class="fa-solid fa-print"></i>&nbsp;Imprimer la Fiche</button>
            </div>
        </div>
        
        <h2 class="text-center mb-5 mt-3">Fiche patient</h2>
        <div class="border rounded-3">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../../../assets/images/thepatient.png" class="img-fiche">
                </div>
                <div class="col">
                    <table>
                        <tr>
                            <td colspan="2"><h6>Informations du patient</h6></td>
                        </tr>
                        <tr>
                            <td><span>Nom:</span></td>
                            <td>Sylva</td>
                        </tr>
                        <tr>
                            <td><span>Prénom:</span></td>
                            <td>Sylvia</td>
                        </tr>
                        <tr>
                            <td><span>Age:</span></td>
                            <td>26</td>
                        </tr>
                        
                        <tr>
                            <td><span>Téléphone:</span></td>
                            <td>+221 77 000 22 22</td>
                        </tr>
                    </table>
                </div>
                <div class="col">
                    <table>
                        <tr>
                            <td colspan="2"><h6>Socio-Démographie</h6></td>
                        </tr>
                        <tr>
                            <td><span>Adresse:</span></td>
                            <td>zone magique</td>
                        </tr>
                        <tr>
                            <td><span>Statut matrimonial:</span></td>
                            <td>Célibataire</td>
                        </tr>
                        <tr>
                            <td><span>Niveau socio-économique:</span></td>
                            <td>Moyen</td>
                        </tr>
                        
                    </table>
                </div>
            </div>
        </div>

        <div class="border rounded-3 mt-5">
            <div class="row">
                <div class="col">
                    <table>
                        <tr>
                            <td colspan="2"><h6>Antécédents</h6></td>
                        </tr>
                        <tr>
                            <td><span>HTA-gravidique:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Diabète Gestationnelle:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Pré-éclampsie:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Autres:</span></td>
                            <td>...</td>
                        </tr>
                        <!-- Gyneco-Obstetricaux -->
                        <tr>
                            <td colspan="2"><p class="text-center">Gyneco-Obstetricaux</p></td>
                        </tr>
                        <tr>
                            <td><span>Menarche:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Gestite:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Parite:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>ATCD Decompensation:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Nombre:</span></td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td><span>Type Insuffisance Cardiaque:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Hospitalisations Anterieures:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Nombre:</span></td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>

                <div class="col">
                    <table>
                        <tr>
                            <td colspan="2"><h6 class="text-center">Signes Cliniques</h6></td>
                        </tr>
                        <tr>
                            <td><span>Dyspnée d'Effort:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Type NYHA:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Œdème Aigu du Poumon:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Toux:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Palpitations:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>OMI:</span></td>
                            <td>Non</td>
                        </tr>
                        <!-- Constantes -->
                        <tr>
                            <td colspan="2"><p class="text-center">Constantes</p></td>
                        </tr>
                        <tr>
                            <td><span>TA Systolique:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>TA Diastolique:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>FC:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>FR:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Température:</span></td>
                            <td>37°C</td>
                        </tr>
                        <tr>
                            <td><span>Poids:</span></td>
                            <td>70 kg</td>
                        </tr>
                        <tr>
                            <td><span>Taille:</span></td>
                            <td>1.89 m</td>
                        </tr>
                        <tr>
                            <td><span>IMC:</span></td>
                            <td>19.59</td>
                        </tr>
                        <tr>
                            <td><span>Souffle Cardiaque:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Type Souffle:</span></td>
                            <td>IM</td>
                        </tr>
                        <tr>
                            <td><span>TSVJ:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Hépatomégalie:</span></td>
                            <td>Non</td>
                        </tr>
                    </table>
                </div>

                <div class="col">
                    <table>
                        <tr>
                            <td colspan="2"><h6 class="text-center">Signes Paracliniques</h6></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p class="text-center">Biologie</p>
                            </td>
                        </tr>
                        <tr>
                            <td><span>Hépatomégalie:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>GB:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>Plaquettes:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>VGM:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>CCMH:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>TMCH:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>CRP:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>Urée:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>Créatininémie:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>NT pro BNP:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>Prolactine:</span></td>
                            <td>"***"</td>
                        </tr>
                        <tr>
                            <td><span>Télécoeur:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Index cardiothoracique (%):</span></td>
                            <td>12%</td>
                        </tr>
                        <tr>
                            <td><span>Autres Signes:</span></td>
                            <td>"*********"</td>
                        </tr>
                        <tr>
                            <td><span>ECG:</span></td>
                            <td>Non</td>
                        </tr>
                        <tr>
                            <td><span>Rythme Cardiaque:</span></td>
                            <td>Normal</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
