<div id="modal8" class="modal">
    <div class="modal-content">
        <form name="hospitalisation" #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col">
                    <label for="nombreHospitalisations">Nombre:</label>
                    <input type="number" id="nombreHospitalisations" name="nombreHospitalisations" [(ngModel)]="hospitalisationForm.nombreHospitalisations">
                </div>

            
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col-md-3">
                    <!-- Bouton Enregistrer -->
                    <button type="submit"><span>Enregistrer</span></button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-secondary rounded-0 w-100" (click)="closeModal('modal8')">Fermer</button>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
</div>