<!-- Modal Content -->
<div id="modal32" class="modal">
    <div class="modal-content">
        <form name="assistant" (ngSubmit)="onSubmit()">
            <h4 class="mb-3">Nouvel assistant</h4>

            <div class="row mb-3">
                <div class="col">
                    <label>Prénom</label>
                    <input type="text" [(ngModel)]="assistantForm.prenom" name="prenom" class="rounded-0">
                </div>
                <div class="col">
                    <label>Nom</label>
                    <input type="text" [(ngModel)]="assistantForm.nom"  name="nom" class="rounded-0">
                </div>
            </div>

            
            <div class="row mb-3">
                <div class="col">
                    <label>Pseudo</label>
                    <input type="text" [(ngModel)]="assistantForm.pseudo"  name="pseudo" class="rounded-0">
                </div>
                <div class="col">
                    <label>Email</label>
                    <input type="email" [(ngModel)]="assistantForm.email"  name="email" class="rounded-0">
                </div>
            </div>

            
            <div class="row mb-3">
                <div class="col">
                    <label>Mot de passe</label>
                    <div class="showState">
                        <i (click)="showPassword('fa-eye-1','fa-eye-slash-1','password')" id="fa-eye-1" class="fa-regular fa-eye"></i> 
                        <i (click)="hidePassword('fa-eye-1','fa-eye-slash-1','password')" id="fa-eye-slash-1" class="fa-regular fa-eye-slash"></i>
                    </div>
                    <input type="password" id="password" [(ngModel)]="assistantForm.password"  name="password" class="rounded-0">
                </div>
                <div class="col"></div>
            </div>
            

            <div class="row text-center">
                <div class="col">
                    <!-- Bouton Enregistrer -->
                    <button type="submit" class="btn btn-primary rounded-0 w-100"><i class="fa-regular fa-floppy-disk"></i>&nbsp;Enregistrer</button>
                </div>
                <div class="col">
                    <button class="btn btn-secondary rounded-0 w-100" (click)="closeModal('modal32',$event)"><i class="fa-solid fa-ban"></i>&nbsp;Fermer</button>
                </div>
            </div>
        </form>
    </div>
</div>
