<div class="container">
    <div class="main-body mt-5">
        <div class="row">
            <div class="col-lg-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Prénom</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text">
                            </div>
                        </div> 
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Mot de passe</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <input type="text" value="x5fh8r4f1d8gfygthcvgtelskic54ss5z12" disabled>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-customized">Générer</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Actions</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <select>
                                    <option>Editeur</option>
                                    <option>Lecteur</option>
                                </select>
                            </div>
                        </div>                    
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <button class="btn btn-customized">Ajouter</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
