body{
    background: #f7f7ff;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}

.btn-customized{
    background-color: #fff;
    color: #007BFF;
}

input,
select, textarea {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #007BFF;
    outline: none;
    transition: border-bottom-width 0.3s ease-in-out;
}

@keyframes inputAnimation {
    0% {
        width: 100%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

/* Applique l'animation uniquement lorsqu'on focus sur l'input */
input:focus,textarea:focus {
    animation: inputAnimation 0.5s;
}