<!-- Modal Content -->
<div id="modal20" class="modal">
    <div class="modal-content text-center">

            
    <form name="files">
        <div class="row" *ngIf="fileForm.fileCategory">
            <div class="col">
                <div class="upload">
                    <input [disabled]="(uploaded && progress > 0)" type="file" id="fileInput" name="fileInput" (change)="onFileSelected('modal20',$event)">
                    <label for="fileInput">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                    </label>
                </div>
            </div>
        </div>

        <div class="text-center" *ngIf="uploaded">
            <h5>{{ progress }}%</h5>
            <progress max="100" [value]="progress" class="w-100"></progress>
        </div>

        <div class="row mt-3">
            <div class="col">
        
                <select class="form-control rounded-0" name="fileCategory" [(ngModel)]="fileForm.fileCategory">
                    <option value="" disabled selected hidden>Choisissez une catégorie</option>
                    <option *ngFor="let category of categories">{{category.categories}}</option>
                </select> 
            </div>
        </div>

        <div class="row text-center mt-3">
            <div class="col">
                <button [disabled]="(uploaded && progress > 0)" class="btn btn-secondary rounded-0 w-50" (click)="closeModal('modal20',$event)"><i class="fa-solid fa-ban"></i>&nbsp;Fermer</button>
            </div>
        </div>
    </form>
  
    </div>
</div>
