<!-- Modal Content -->
<div id="modal20" class="modal">
    <div class="modal-content text-center">

            
    <form name="files">
        <div class="upload">
            <input type="file" id="fileInput" multiple (change)="onFileSelected($event)">
            <label for="fileInput">
                <i class="fa-solid fa-cloud-arrow-up"></i>
            </label>
        </div>
        <div *ngFor="let name of fileName">
            <h6>{{name}}</h6>
        </div>            

        <div class="row text-center mt-3">
            <div class="col">
                <button class="btn btn-secondary rounded-0 w-50" (click)="closeModal('modal20')"><i class="fa-solid fa-ban"></i>&nbsp;Fermer</button>
            </div>
        </div>
    </form>
  
    </div>
</div>
