<!-- Modal Content -->
<div id="modal20" class="modal">
    <div class="modal-content text-center">

            
    <form name="files">
        <div class="row" *ngIf="fileForm.fileCategory">
            <div class="col">
                <div class="upload">
                    <input type="file" id="fileInput" name="fileInput" (change)="onFileSelected($event)">
                    <label for="fileInput">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                    </label>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
        
                <select class="form-control rounded-0" name="fileCategory" [(ngModel)]="fileForm.fileCategory">
                    <option value="" disabled selected hidden>Choisissez une catégorie</option>
                    <option value="ECG">ECG</option>
                    <option value="ETT">ETT</option>
                    <option value="Radiographie">Radiographie</option>
                    <option value="Tomodensitométrie (CT)">Tomodensitométrie (CT)</option>
                    <option value="Imagerie par résonance magnétique (IRM)">Imagerie par résonance magnétique (IRM)</option>
                    <option value="Échographie">Échographie</option>
                    <option value="Mammographie">Mammographie</option>
                    <option value="Endoscopie">Endoscopie</option>
                    <option value="Scintigraphie">Scintigraphie</option>
                    <option value="Angiographie">Angiographie</option>
                    <option value="Électroencéphalogramme (EEG)">Électroencéphalogramme (EEG)</option>
                    <option value="Ponction lombaire (PL)">Ponction lombaire (PL)</option>
                    <option value="Tests de fonction pulmonaire">Tests de fonction pulmonaire</option>
                    <option value="Bilans sanguins et d'urine">Bilans sanguins et d'urine</option>
                    <option value="Rapports d'imagerie médicale avancée">Rapports d'imagerie médicale avancée</option>
                    <option value="Cartes d'implants médicaux">Cartes d'implants médicaux</option>
                    <option value="Rapports opératoires">Rapports opératoires</option>
                </select> 
            </div>
        </div>
        <!-- <div *ngFor="let name of fileName">
            <h6>{{name}}</h6>
        </div>             -->

        <div class="row text-center mt-3">
            <div class="col">
                <button class="btn btn-secondary rounded-0 w-50" (click)="closeModal('modal20')"><i class="fa-solid fa-ban"></i>&nbsp;Fermer</button>
            </div>
        </div>
    </form>
  
    </div>
</div>
