
<div class="row mb-3">

    <div class="col">
        <form class="mt-3" name="meets" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col-md-6">
                    <h5>Gestion des rendez-vous <i class="fa-regular fa-calendar-check"></i></h5>
                </div>
                <div class="col"></div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary w-100 rounded-0"><i class="fa-regular fa-calendar-plus"></i>&nbsp;Ajouter</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="doctor">Docteur</label>
                    <select id="doctor" class="form-control rounded-0" [(ngModel)]="meetingForm.userId" name="doctor">
                        <option *ngFor="let user of usersList" [value]="user._id">{{user.prenom}} {{user.nom}}</option>
                    </select>
                </div>
      
                <div class="col">
                    <label for="patient">Patient</label>
                    <select id="patient" class="form-control rounded-0" [(ngModel)]="meetingForm.patientId" name="patient">
                        <option *ngFor="let patient of patientsList" [value]="patient._id">{{patient.prenom}} {{patient.nom}}-{{patient.telephone}}</option>
                    </select>  
                </div>

                <div class="col">
                    <label for="meeting">Date du rendez-vous</label>
                    <input type="date" id="meeting" class="form-control rounded-0" [(ngModel)]="meetingForm.date" name="date">
                </div>

             
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="hourStart">Début du rendez-vous</label>
                    <input type="time" id="hourStart" class="form-control rounded-0" step="1" [(ngModel)]="meetingForm.hourStart" name="hourStart">
                </div>

                <div class="col">
                    <label for="hourEnd">Fin du rendez-vous</label>
                    <input type="time" id="hourEnd" class="form-control rounded-0" step="1" [(ngModel)]="meetingForm.hourEnd" name="hourEnd">
                </div>
      
                <div class="col">
                    <label for="subject">Objet du rendez-vous</label>
                    <textarea id="subject" class="form-control rounded-0" [(ngModel)]="meetingForm.subject" name="subject"></textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <div class="back-secondary">
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-danger w-100 rounded-0" (click)="getCurrentAccountMeeting()"><i class="fa-regular fa-handshake"></i>&nbsp;Mes rendez-vous</button> 
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-secondary w-100 rounded-0" (click)="getAllMeetingByHospital()"><i class="fa-regular fa-handshake"></i>&nbsp;Les rendez-vous</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
       
        <div *ngIf="isLoading ; else content">
            <!-- Afficher le loader ici -->
            <div class="loader"></div>
        </div>
        <ng-template #content>
            <div class="card">
                <full-calendar [options]="calendarOptions" (eventClick)="handleEventClick($event)"></full-calendar>
            </div>
            <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <form name="meeting" (ngSubmit)="onUpdate()" class="form-modal">
                            <div class="modal-header">
                            <h6 class="modal-title" id="eventModalLabel">Informations du rendez-vous</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="handleCloseModal()"></button>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <tr>
                                        <td>
                                            <strong>Docteur</strong>
                                        </td>
                                        <td class="input-w">
                                            <select id="user" class="w-100" [(ngModel)]="meetingForm.userId" name="user">
                                                <option [ngValue]="userId" [selected]="true">{{prenomDoctor}} {{nomDoctor}}</option>
                                            </select>
                                        </td>
                                    </tr>
                          
                                    <tr>
                                        <td>
                                            <strong>Patient</strong>
                                        </td>
                                        <td class="input-w">
                                            <select id="patient" class="w-100" [(ngModel)]="meetingForm.patientId" name="patient">
                                                <option [ngValue]="patientId" [selected]="true">{{prenomPatient}} {{nomPatient}}</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Date:</strong>
                                        </td>
                                        <td class="input-w">
                                            <input class="w-100" type="date" [(ngModel)]="meetingForm.date" name="date" [value]="date">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Début:</strong>
                                        </td>
                                        <td class="input-w">
                                            <input class="w-100" type="time" step="1" [(ngModel)]="meetingForm.hourStart" name="hourStart" value="{{ start }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Fin:</strong>
                                        </td>
                                        <td class="input-w">
                                            <input class="w-100" type="time" step="1" [(ngModel)]="meetingForm.hourEnd" name="hourEnd" value="{{ end }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Sujet:</strong>
                                        </td>
                                        <td class="input-w">
                                            <input class="w-100" type="text" [(ngModel)]="meetingForm.subject" name="subject" value="{{subject}}">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-primary rounded-0" type="submit">Modifier</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger rounded-0" (click)="deleteMeet($event)">Supprimer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>


