.card {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #007BFF;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 15px 0px;
    border-radius: 0px;
}

.custom-btn-color {
    background-color: #007BFF;
    color: #fff;
    font-size: 14px;
}

.alert{
    background-color: #b6dcfc;
    height: 80px;
}

.alert p{
    border-bottom: 1px solid #f0eded;
}


.alert small{
    font-weight: bold;
}

.input-w{
    position: relative;
    left: 30px;
}

.form-modal{
    background-color: #fff;
}

@media(min-width:900px){
    form{
        background-color: #fff;
        border: 1px solid #007BFF;
        border-radius: 0px;
        padding: 7px;
        width: 100%;
    }
}

.back-secondary{
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #007BFF;
    border-radius: 0px;
    padding: 10px;
    width: 100%;
}

/*************Loader*******************/
.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007BFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*************Loader*******************/


/* Style pour le conteneur du select */
.select-container {
  position: relative;
}

/* Style pour la flèche déroulante */
.select-container::after {
  content: '\25BC'; /* flèche déroulante vers le bas */
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

