<div id="modal11" class="modal">
    <div class="modal-content">
        <div class="container">
            <form name="cardio" (ngSubmit)="onSubmit()">
                <h5 class="text-center mb-2">Type de souffle</h5>
                <div class="row mb-3">
                  <div class="col-md-3" *ngFor="let option of ['IM', 'RM', 'IA', 'RA']">
                    <label> {{ option }}</label>
                    <input type="checkbox" [value]="option" name="option" [checked]="cardioForm.souffleCardiaque.typeSouffle.includes(option)" (change)="onCheckboxChange(option)">
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-md-3" *ngFor="let option of ['IP', 'RP', 'IT', 'RT']">
                    <label>{{ option }}</label>
                    <input type="checkbox" [value]="option" name="option" [checked]="cardioForm.souffleCardiaque.typeSouffle.includes(option)" (change)="onCheckboxChange(option)">
                  </div>
                </div>
                
              
                <div class="row">
                  <div class="col-md-3">
                    <!-- Bouton Enregistrer -->
                    <button type="submit"><span>Enregistrer</span></button>
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-secondary rounded-0" (click)="closeModal('modal11',$event)">Fermer</button>
                  </div>
                </div>
              </form>
              
        </div>
    </div>
</div>
  