.nav-link {
    border-top: 2px solid transparent;
    transition: border-top-color 0.3s ease;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #007BFF;
    padding: 5px 15px;
  }

  .nav-link.active {
    border-top-color: #007BFF;
    color: #007BFF;
  }

  nav i{
    font-size: 15px;
  }

  .tab-pane{
    background-color: #fff;
    padding: 10px;
}