<div class="container">
    <div class="main-body mt-5">
        <div class="row">
            <div class="col-lg-9 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()">
                            <div class="row mb-3">
                                <div class="col">
                                    <h6 class="mt-4">Mot de passe actuel</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    <div class="showState">
                                        <i (click)="showPassword('fa-eye-1','fa-eye-slash-1','oldPassword')" id="fa-eye-1" class="fa-regular fa-eye"></i> 
                                        <i (click)="hidePassword('fa-eye-1','fa-eye-slash-1','oldPassword')" id="fa-eye-slash-1" class="fa-regular fa-eye-slash"></i>
                                    </div>
                                    <input id="oldPassword" type="password" name="oldPassword" [(ngModel)]="passwordForm.oldPassword" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <h6 class="mt-4">Nouveau mot de passe</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    <div class="showState">
                                        <i  (click)="showPassword('fa-eye-2','fa-eye-slash-2','newPassword1')" id="fa-eye-2" class="fa-regular fa-eye"></i> 
                                        <i  (click)="hidePassword('fa-eye-2','fa-eye-slash-2','newPassword1')" id="fa-eye-slash-2" class="fa-regular fa-eye-slash"></i>
                                    </div>
                                    <input type="password" id="newPassword1" name="newPassword1" [(ngModel)]="passwordForm.newPassword1" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <h6 class="mt-4">Confirmation mot de passe</h6>
                                </div>
                                <div class="col-sm-8 text-secondary">
                                    <div class="showState">
                                        <i  (click)="showPassword('fa-eye-3','fa-eye-slash-3','newPassword2')" id="fa-eye-3" class="fa-regular fa-eye"></i> 
                                        <i  (click)="hidePassword('fa-eye-3','fa-eye-slash-3','newPassword2')" id="fa-eye-slash-3" class="fa-regular fa-eye-slash"></i>
                                    </div>
                                    <input type="password" id="newPassword2" name="newPassword2" [(ngModel)]="passwordForm.newPassword2" required>
                                </div>
                            </div>                    
                            <div class="row">
                                <div class="col"></div>
                                <div class="col-sm-8 text-secondary">
                                    <button class="btn btn-primary rounded-0 w-50">Modifier</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="message-dialog" [class.open]="isDialogOpen">
    <div class="message-content">
        <p>{{ messageContent }}</p>
        <button class="btn btn-primary rounded-0" (click)="closeMessageDialog()">Fermer</button>
    </div>
</div>
