<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa-solid fa-bed-pulse"></i>
                        </div>
       
                        <div class="col text-center ml">
                            <div class="row">
                                <div class="col">
                                    <h4>1,475</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Patients</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa-solid fa-truck-medical"></i>
                        </div>

                        <div class="col text-center ml">
                            <div class="row">
                                <div class="col">
                                    <h4>40</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>réhospitalisations</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa-solid fa-skull-crossbones"></i>
                        </div>
            
                        <div class="col text-center ml">
                            <div class="row">
                                <div class="col">
                                    <h4>12</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Décès</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa-solid fa-tower-broadcast"></i>
                        </div>
            
                        <div class="col text-center ml">
                            <div class="row">
                                <div class="col">
                                    <h4>5</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Urgence</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col">
            <div>
                <canvas id="bar"></canvas>
            </div>
        </div>

        <div class="col">
            <div>
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th scope="col" id="table-title">Traitement des patients</th>
                        </tr>
                        <tr class="text-center">
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Traitement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>patient.prenom</td>
                            <td>patient.nom</td>
                            <td>traitement</td>
                        </tr>
                        <tr class="text-center">
                            <td>patient.prenom</td>
                            <td>patient.nom</td>
                            <td>traitement</td>
                        </tr>
                        <tr class="text-center">
                            <td>patient.prenom</td>
                            <td>patient.nom</td>
                            <td>traitement</td>
                        </tr>

                        <tr class="text-center">
                            <td>patient.prenom</td>
                            <td>patient.nom</td>
                            <td>traitement</td>
                        </tr>

                    </tbody>
                </table>
                
            </div>
        </div>

        <div class="col">
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th scope="col" id="table-title">L'état des patients</th>
                        </tr>
                        <tr class="text-center">
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td>patient.prenom</td>
                            <td>patient.nom</td>
                            <td>Critique</td>
                        </tr>
                        <tr class="text-center">
                            <td>patient.prenom</td>
                            <td>patient.nom</td>
                            <td>Non Critique</td>
                        </tr>
                        <tr class="text-center">
                            <td>patient.prenom</td>
                            <td>patient.nom</td>
                            <td>Critique</td>
                        </tr>

                        <tr class="text-center">
                            <td>patient.prenom</td>
                            <td>patient.nom</td>
                            <td>Critique</td>
                        </tr>

                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>