<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa-solid fa-bed-pulse"></i>
                        </div>
       
                        <div class="col text-center ml">
                            <div class="row">
                                <div class="col">
                                    <h4>{{nombrePatients}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Patients</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa-solid fa-plane"></i>
                        </div>

                        <div class="col text-center ml">
                            <div class="row">
                                <div class="col">
                                    <h4>{{nombreIndisponible}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>indisponibilité</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa-solid fa-handshake-angle"></i>
                        </div>
            
                        <div class="col text-center ml">
                            <div class="row">
                                <div class="col">
                                    <h4>{{nombreAssistant}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Assistants</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa-solid fa-user-clock"></i> 
                        </div>
            
                        <div class="col text-center ml">
                            <div class="row">
                                <div class="col">
                                    <h4>{{nombreRv}}</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Rendez-vous</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col">
            <div>
                <canvas id="bar"></canvas>
            </div>
        </div>

        <div class="col">
            <div>
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th scope="col" id="table-title"><strong>Mes rendez-vous</strong></th>
                        </tr>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let patient of rvList">
                            <td>{{patient.date | date: 'dd/MM/yyyy'}}</td>
                            <td>{{patient.patientId.prenom}}</td>
                            <td>{{patient.patientId.nom}}</td>
                            <td style="color:blue;" *ngIf="patient.date > getDateActuelleFormatted()">Ultérieure&nbsp;<i class="fa-solid fa-arrow-up"></i></td>
                            <td style="color:red;" *ngIf="patient.date < getDateActuelleFormatted()">Passé&nbsp;<i class="fa-solid fa-arrow-down"></i></td>
                            <td style="color:green;" *ngIf="patient.date == getDateActuelleFormatted()">Aujourd'hui&nbsp;<i class="fa-solid fa-arrow-right"></i></td>                   
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>

        <div class="col">
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th scope="col" id="table-title"><strong>Indisponibilité</strong></th>
                        </tr>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Début</th>
                            <th scope="col">Fin</th>
                            <th scope="col">statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let planning of indisponibiliteList">
                            <td>{{planning.date | date:'dd/MM/yyyy'}}</td>
                            <td>{{planning.hourStart}}</td>
                            <td>{{planning.hourEnd}}</td>
                            <td style="color:red;">indisponible</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>