
<div id="modal6" class="modal">
    <div class="modal-content">
        <h4>Évolution</h4>

        <!-- Formulaire -->
        <form id="evolutionForm" (ngSubmit)="onSubmit()" data-modal-id="3">
            <div class="row text-center">
                <div class="col">
                    <div class="border border-primary rounded-3">
                        <label for="women">Mère</label>
                        <div class="row">
                            <div class="col">
                                <label>
                                    <input type="radio" [value]="true" name="women" [(ngModel)]="evolutionForm.mere.presente">OUI
                                </label>
                            </div>
                            <div class="col">
                                <label>
                                    <input type="radio" [value]="false" name="women" [(ngModel)]="evolutionForm.mere.presente">NON
                                </label>
                            </div>
                            <div class="col" *ngIf="evolutionForm.mere.presente">
                                <button class="c-button" (click)="openModal('modal16',$event)" ><i class="fa-regular fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <app-women></app-women>
                    </div>
                </div>
                <div class="col">
                    <div class="border border-primary rounded-3">
                        <label for="baby">Enfant</label>
                        <div class="row">
                            <div class="col">
                                <label>
                                    <input type="radio" [value]="true" name="baby" [(ngModel)]="evolutionForm.enfant.presente">OUI
                                </label>
                            </div>
                            <div class="col">
                                <label>
                                    <input type="radio" [value]="false" name="baby" [(ngModel)]="evolutionForm.enfant.presente">NON
                                </label>
                            </div>
                            <div class="col" *ngIf="evolutionForm.enfant.presente">
                                <button class="c-button" (click)="openModal('modal17',$event)" ><i class="fa-regular fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <app-babies></app-babies>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col"></div>
                <div class="col">
                    <!-- Bouton Enregistrer -->
                    <button type="submit"><i class="fa-regular fa-floppy-disk"></i>&nbsp;Enregistrer</button>
                </div>
                <div class="col">
                    <button class="btn btn-secondary rounded-0 w-100" (click)="closeModal('modal6',$event)"><i class="fa-solid fa-ban"></i>&nbsp;Fermer</button>
                </div>
                <div class="col"></div>
            </div>
            
        </form>
    </div>
</div>

