<div class="container">
    <div class="main-body mt-5">
        <div class="row">
            
            <div class="col-lg-8">
                <h6>Thèmes</h6>
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Sombre</p>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="radio">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Clair</p>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="radio">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Nuancé</p>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="radio">
                            </div>
                        </div>
              
                        <div class="row">
                            <div class="col-sm-9">
                            </div>
                            <div class="col-sm-3 text-secondary">
                                <button class="btn btn-customized">Appliquer</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            
            <div class="col-lg-8">
                <h6>Sécurité et Confidentialité</h6>
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Paramètre de Confidentialité</p>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <button class="btn btn-customized">Accéder</button>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Option de sécurité</p>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <button class="btn btn-customized">Accéder</button>
                            </div>
                        </div>

                
           
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            
            <div class="col-lg-8">
                <h6>Aide et Support</h6>
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <p class="mb-0">Document</p>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <button class="btn btn-customized">Accéder</button>
                            </div>
                        </div>

                
           
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
