
<div id="modal4" class="modal">
    <div class="modal-content">
        <h4>Signes Paracliniques</h4>

        <!-- Formulaire -->
        <form id="signesParacliniquesForm" (ngSubmit)="onSubmit()" data-modal-id="3">
            
            <div class="border p-3 rounded-3 border-primary">
                <div class="row">
                    <!-- Groupe Biologie -->
                    <h5 class="text-center">Biologie</h5>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label for="hemoglobinemie">Hémoglobinémie:</label>
                                <input type="text" id="hemoglobinemie" name="hemoglobinemie" [(ngModel)]="paracliniquesForm.biologie.hemoglobinemie">
                            </div>
                            <div class="col">
                                <label for="gb">GB:</label>
                                <input type="text" id="gb" name="gb" [(ngModel)]="paracliniquesForm.biologie.gb">                
                            </div>
                            <div class="col">
                                <label for="plaquettes">Plaquettes:</label>
                                <input type="text" id="plaquettes" name="plaquettes" [(ngModel)]="paracliniquesForm.biologie.plaquettes">                
                            </div>
                           
                        
                        </div>

                        <div class="row">
                            <div class="col">
                                                        
                                <label for="vgm">VGM:</label>
                                <input type="text" id="vgm" name="vgm" [(ngModel)]="paracliniquesForm.biologie.vgm">

                            </div>
                            <div class="col">
                                <label for="ccmh">CCMH:</label>
                                <input type="text" id="ccmh" name="ccmh" [(ngModel)]="paracliniquesForm.biologie.ccmh">
                            </div>
                            <div class="col">
                                <label for="tcmh">TCMH:</label>
                                <input type="text" id="tcmh" name="tcmh" [(ngModel)]="paracliniquesForm.biologie.tcmh">                
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="crp">CRP:</label>
                                <input type="text" id="crp" name="crp" [(ngModel)]="paracliniquesForm.biologie.crp">                
                            </div>
                            <div class="col">
                                <label for="uree">Urée:</label>
                                <input type="text" id="uree" name="uree" [(ngModel)]="paracliniquesForm.biologie.uree">                
                            </div>
                            <div class="col">
                                <label for="creatininemie">Créatininémie:</label>
                                <input type="text" id="creatininemie" name="creatininemie" [(ngModel)]="paracliniquesForm.biologie.creatininemie">                
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="ntProBNP">NT pro BNP:</label>
                                <input type="text" id="ntProBNP" name="ntProBNP" [(ngModel)]="paracliniquesForm.biologie.ntProBNP">                
                            </div>
                            <div class="col">
                                <label for="prolactine">Prolactine:</label>
                                <input type="text" id="prolactine" name="prolactine" [(ngModel)]="paracliniquesForm.biologie.prolactine">                
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="border p-3 rounded-3 border-primary">
                <div class="row">

                    <div class="col">
                        <div class="text-center">
                            <label for="telecoeurPresent" class="text-center">Télécoeur:</label>
                            <div class="row">
                                <div class="col">
                                    <label>
                                        <input type="radio" name="telecoeur.presente" [value]="true" [(ngModel)]="paracliniquesForm.telecoeur.presente">OUI
                                    </label>
                                </div>
                                <div class="col">
                                    <label>
                                        <input type="radio" name="telecoeur.presente" [value]="false" [(ngModel)]="paracliniquesForm.telecoeur.presente">NON
                                    </label>
                                </div>
                                <div class="col" *ngIf="paracliniquesForm.telecoeur.presente">
                                    <button (click)="openModal('modal12',$event)" class="c-button"><i class="fa-regular fa-pen-to-square"></i></button>
                                </div>
                            </div>
                            
                            <app-telecoeur></app-telecoeur>
                        </div>
                    </div>
                    <div class="col text-center">
                        <label for="ecgPresent">ECG:</label>

                        <div class="row">
                            <div class="col">
                                <label>
                                    <input type="radio" name="ecg.presente" [value]="true" [(ngModel)]="paracliniquesForm.ecg.presente">OUI
                                </label>
                            </div>
                            <div class="col">
                                <label>
                                    <input type="radio" name="ecg.presente" [value]="false" [(ngModel)]="paracliniquesForm.ecg.presente">NON
                                </label>
                            </div>
                            <div class="col" *ngIf="paracliniquesForm.ecg.presente">
                                <button (click)="openModal('modal13',$event)" class="c-button"><i class="fa-regular fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <app-ecg></app-ecg>
                    </div>

                    <div class="col text-center">
                        <label for="ettPresent">ETT:</label>

                        <div class="row">
                            <div class="col">
                                <label>
                                    <input type="radio" name="ett.presente" [value]="true" [(ngModel)]="paracliniquesForm.ett.presente">OUI
                                </label>
                            </div>
                            <div class="col">
                                <label>
                                    <input type="radio" name="ett.presente" [value]="false" [(ngModel)]="paracliniquesForm.ett.presente">NON
                                </label>
                            </div>
                            <div class="col" *ngIf="paracliniquesForm.ett.presente">
                                <button (click)="openModal('modal14',$event)" class="c-button"><i class="fa-regular fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <app-ett></app-ett>
                    </div>
                
                </div>
            </div>
            
            <div class="border p-3 rounded-3 border-primary">
                <div class="row">
                    <h5 class="text-center">Traitement</h5>
                    <div class="col text-center">
                        <label for="diuretique">Diurétique:</label>
                        <input type="checkbox" id="diuretique" name="traitement.diuretique" [(ngModel)]="paracliniquesForm.traitement.diuretique">
                    </div>
                    <div class="col text-center">
                        <label for="iec">IEC:</label>
                        <input type="checkbox" id="iec" name="traitement.iec" [(ngModel)]="paracliniquesForm.traitement.iec">
                    </div>
                    <div class="col text-center">
                        <label for="tonicardiaque">Tonicardiaque:</label>
                        <input type="checkbox" id="tonicardiaque" name="traitement.tonicardiaque" [(ngModel)]="paracliniquesForm.traitement.tonicardiaque">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col text-center">
                        <label for="bromocriptine">Bromocriptine:</label>
                        <input type="checkbox" id="bromocriptine" name="traitement.bromocriptine" [(ngModel)]="paracliniquesForm.traitement.bromocriptine">                
                    </div>
                    <div class="col text-center">
                        <label for="anticoagulants">Anticoagulants:</label>
                        <input type="checkbox" id="anticoagulants" name="traitement.anticoagulants" [(ngModel)]="paracliniquesForm.traitement.anticoagulants">
                    </div>
                    <div class="col text-center">
                        <label for="betabloquants">Betabloquants:</label>
                        <input type="checkbox" id="betabloquants" name="traitement.betabloquants" [(ngModel)]="paracliniquesForm.traitement.betabloquants">
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <label for="contraception">Contraception:</label>
                        <input type="checkbox" id="contraception" name="traitement.contraception" [(ngModel)]="paracliniquesForm.traitement.contraception">
                    </div>
                    <div class="col"></div>
                    <div class="col">
                        <label for="autresTraitements">Autres Traitements:</label>
                        <textarea id="autresTraitements" name="traitement.autres" [(ngModel)]="paracliniquesForm.traitement.autres"></textarea>
                    </div>
                </div>
            </div>
        
            <div class="border p-3 rounded-3 border-primary">
                <div class="row">
                    <h5 class="text-center">Modalité Évolutive en hospitalisation:</h5>
                    <div class="col text-center">
                        <label>Défavorable</label>
                        <div class="row">
                            <div class="col">
                                <label>
                                    <input type="radio" name="modaliteEvolutiveHospitalisation.presente" [value]="true" [(ngModel)]="paracliniquesForm.modaliteEvolutiveHospitalisation.presente">OUI
                                </label>
                            </div>
                            <div class="col">
                                <label>
                                    <input type="radio" name="modaliteEvolutiveHospitalisation.presente" [value]="false" [(ngModel)]="paracliniquesForm.modaliteEvolutiveHospitalisation.presente">NON
                                </label>
                            </div>
                            <div class="col" *ngIf="paracliniquesForm.modaliteEvolutiveHospitalisation.presente">
                                <button (click)="openModal('modal15',$event)" class="c-button"><i class="fa-regular fa-pen-to-square"></i></button>
                            </div>
                        </div>
                        <app-modaliteevolution></app-modaliteevolution>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col"></div>
                <div class="col">
                    <!-- Bouton Enregistrer -->
                    <button type="submit"><i class="fa-regular fa-floppy-disk"></i>&nbsp;Enregistrer</button>
                </div>
                <div class="col">
                    <button class="btn btn-secondary rounded-0 w-100" (click)="closeModal('modal4',$event)"><i class="fa-solid fa-ban"></i>&nbsp;Fermer</button>
                </div>
                <div class="col"></div>
            </div>
            
        </form>
    </div>
</div>

