<div class="container">
    <div class="row mb-3">
        <div class="col">
            <div class="row float-start">
                <div class="col-md-3">
                    <label>Afficher</label>
                    <select [(ngModel)]="rowsPerPageM">
                        <option *ngFor="let value of counter(medicamentNombre,5)">{{value}}</option>
                    </select>
                </div>
                <div class="col">
                    <label>Médicaments</label>
                    <input type="text" [(ngModel)]="searchTermM" placeholder="rechercher.." class="form-control rounded-0">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row float-end">
                <div class="col-md-3">
                    <label>Afficher</label>
                    <select [(ngModel)]="rowsPerPageP">
                        <option *ngFor="let value of counter(posologieNombre,5)">{{value}}</option>
                    </select>
                </div>
                <div class="col">
                    <label>Posologie</label>
                    <input type="text" [(ngModel)]="searchTermP" placeholder="rechercher.." class="form-control rounded-0">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th scope="col">Médicaments :</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medicament of filteredMedicaments">
                            <td>{{medicament.medicament}}</td>
                            <td class="text-center"><button (click)="openDialog1(medicament._id)" class="btn btn-danger rounded-circle"><i style="color:white;" class="fa-regular fa-trash-can"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col">
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th scope="col">Posologie :</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let posologie of filteredPosologie">
                            <td>{{posologie.posologie}}</td>
                            <td class="text-center"><button (click)="openDialog2(posologie._id)" class="btn btn-danger rounded-circle"><i style="color:white;" class="fa-regular fa-trash-can"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="message-dialog" [class.open]="isDialogOpen1">
    <div class="message-content">
    <h5 style="color:red;">Etes-vous sûr de vouloir supprimer ?</h5>
    <span class="text-center"><i class="fa-solid fa-triangle-exclamation"></i></span>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary rounded-0" (click)="deleteMedicament()">Confirmer</button>
        </div>
        <div class="col">
            <button class="btn btn-secondary rounded-0" (click)="closeMessageDialog()">Fermer</button>
        </div>
    </div>
    </div>
</div>

<div class="message-dialog" [class.open]="isDialogOpen2">
    <div class="message-content">
    <h5 style="color:red;">Etes-vous sûr de vouloir supprimer ?</h5>
    <span class="text-center"><i class="fa-solid fa-triangle-exclamation"></i></span>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary rounded-0" (click)="deletePosologie()">Confirmer</button>
        </div>
        <div class="col">
            <button class="btn btn-secondary rounded-0" (click)="closeMessageDialog()">Fermer</button>
        </div>
    </div>
    </div>
</div>